* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template: auto 1fr / auto 3fr 1fr;
}

/* Header elements */

.header {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    grid-area: 1 / 2 / 2 / -1;
    gap: 2rem 3.5rem;
    background: white;
    padding: 12px 24px;
}
.search {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}
.search img {
    height: 100%;
}
.search input {
    width: 100%;
    height: 100%;
    
    border-radius: 25px;
    padding: 16px 32px;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
.profile img {
    width: 35px;
    border-radius: 50%;
}
.welcome {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.welcome img {
    width: 50px;
    border-radius: 50%;
}
.buttons {
    display: flex;
    gap: 1.5rem;
}
.buttons button {
    background: rgb(25, 146, 212);
    color: white;
    padding: 6px 30px;
    border-radius: 50px;
}

/* Side Nav */

.side-nav {
    grid-area: 1 / 1 / -1 / 2;
    background: rgb(25, 146, 212);
    padding-right: 3.5rem;
    color: white;
}
#branding {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 10px;
    margin-top: 10px;
}
#branding img {
    height: 45px;
}
#links-menu {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    margin-left: 1.3rem;
    margin-top: 1.7rem;
}
#links-menu img {
    height: 20px;
}
#links-menu a {
    text-decoration: none;
    color: white;
}
ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
ul li {
    display: flex;
    gap: 0.6rem;
    padding: 8px 0;
}
.main {
    grid-area: 2 / 2 / -1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgba(226, 232, 240, 1);
}
.main-content {
    display: flex;
    flex-direction: flex-start;
    width: 100%;
    height: 100%;
}
.main-projs {
    max-width: calc(100% - 250px);
}

#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.2rem;
    width: 75%;
}

#project-grid img {
    width: 25px;
}

.project-card {
    display: flex;
    border-radius: 50%;
}
.card-color {
    min-width: 0.4rem;
    background: rgb(240,180,41);
}
.project-content {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 8px;
}

.project-buttons {
    margin-top: auto;
    align-self: flex-end;
}
.main-aside {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 235px;
}

/* Announcement Section */

.aside-card-announcement {
    background: white;
    /* padding: 18px;
    padding-left: 30px; */
    padding: 18px 36px;
    margin-top: 0.7rem;
}
.aside-card-announcement li {
    display: flex;
    flex-direction: column;
}
.aside-card-announcement li:not(:last-child)::after {
    content: "";
    display: block;
    border-bottom: 1px solid gray;
    width: 100%;
}

/* Trending Section */

.aside-card-trending {
    background: white;
    padding: 16px 0 16px 16px;
    margin-top: 0.7rem;
}
.aside-card-trending li {
    display: flex;
    align-items: flex-start;
}
.aside-card-trending img {
    border-radius: 50%;
}